@charset "UTF-8";

@import "./_pc_reset.scss";

html, body{
	height: 100%;
	touch-action: manipulation; //取消300ms延迟，chrome和safari
}

/**
 * {{}}vue表达式未渲染完成隐藏
 */
[v-cloak]{
	display: none;
}

/**
 * {{}}vue transition设置
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

